@import "tailwindcss";


#root {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
body {
  background-color: black;
  background-image: url('/first.png'); /* this is your third image (uizard-like) */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.grad {
  background: linear-gradient(to bottom, #0a0a0f 0%, #0d1b2a 40%, #1b3a4b 70%, #1e606e 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
